*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
}

body{
    background-image: linear-gradient(212deg, grey 5%, blueviolet 25%, darkblue 60%, black 100%);
    height: 100vh;
}

.container{
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: 5% auto;
}

.box{
    width: 380px;
    height: 450px;
    background: rgba(192, 192, 192, 0.404);
    margin: 10px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle{
    width: 170px;
    height: 170px;
    border: 8px solid slategray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, skyblue, aqua, turquoise, rgb(92, 228, 14) 90%);
    top: -3.7rem;
    position: relative;
}

.circle1{
    width: 170px;
    height: 170px;
    border: 8px solid slategray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg,  rgb(168, 49, 45), rgb(233, 122, 18), rgb(228, 207, 14) 90%);
    top: -3.7rem;
    position: relative;
}

.circle2{
    width: 170px;
    height: 170px;
    border: 8px solid slategray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(yellow, orange, blueviolet);
    top: -3.7rem;
    position: relative;
}


.round{
    width: 138px;
    height: 138px;
    border-radius: 50%;
}

.button{
    position: relative;
    padding: 10px 15px;
    background: rgba(0, 15, 31, 0.623);
    color: white;
    top: 4rem;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 1px 2px 4px black;
    transition: 0.1s ease;
}

.button:active{
    box-shadow: 1px 2px 4px transparent;
}

.container .box .person, .tag_name{
    position: relative;
    top: -3rem;
    margin: 4px;
}

.info{
    margin-bottom: 1.5rem;
    color: #fff;
}

.text{
    width: 270px;
    text-align: center;
    font-size: 14px;
}

.line{
    margin: 0 auto;
    height: 1px;
    width: 280px;
    background: #fff;
    border-radius: 12px;
    position: relative;
    top: 1.5rem;
}




















@media only screen and (max-width:576px){
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
}

body{
    background:gray;
    height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 5% auto;
    flex-direction: column;

}

.box{
    width: 380px;
    height: 450px;
    background: rgba(15, 46, 226, 0.404);
    margin: 10px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle{
    width: 170px;
    height: 170px;
    border: 8px solid slategray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, skyblue, aqua, turquoise, rgb(92, 228, 14) 90%);
    top: 1rem;
    position: relative;
}

.circle1{
    width: 170px;
    height: 170px;
    border: 8px solid slategray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg,  rgb(168, 49, 45), rgb(233, 122, 18), rgb(228, 207, 14) 90%);
    top: 1rem;
    position: relative;
}

.circle2{
    width: 170px;
    height: 170px;
    border: 8px solid slategray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(yellow, orange, blueviolet);
    top: 1rem;
    position: relative;
}


.round{
    width: 138px;
    height: 138px;
    border-radius: 50%;
}

.button{
    position: relative;
    padding: 10px 15px;
    background: rgba(0, 67, 138, 0.904);
    color: white;
    top: 4rem;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 1px 2px 4px black;
    transition: 0.1s ease;
}

.button:active{
    box-shadow: 1px 2px 4px white;
}

.container .box .person, .tag_name{
    position: relative;
    top: 2rem;
    margin: 4px;
}

.info{
    margin-bottom: 0.5rem;
    color: #fff;
    position: relative;
    top: 3rem;
}

.text{
    width: 270px;
    text-align: center;
    font-size: 14px;
    position: relative;
    top: 3rem;
}

.line{
    margin: 0 auto;
    height: 1px;
    width: 280px;
    background: #fff;
    border-radius: 12px;
    position: relative;
    top: 1.5rem;
    display: none;
}
}












@media only screen and (max-width:768px){
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
}

body{
    background:rgb(249, 253, 0);
    height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 5% auto;
    flex-direction: column;

}

.box{
    width: 480px;
    height: 550px;
    background: seagreen;
    margin: 10px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle{
    width: 170px;
    height: 170px;
    border: 8px solid slategray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, skyblue, aqua, turquoise, rgb(92, 228, 14) 90%);
    top: 1rem;
    position: relative;
}

.circle1{
    width: 170px;
    height: 170px;
    border: 8px solid slategray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg,  rgb(168, 49, 45), rgb(233, 122, 18), rgb(228, 207, 14) 90%);
    top: 1rem;
    position: relative;
}

.circle2{
    width: 170px;
    height: 170px;
    border: 8px solid slategray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(yellow, orange, blueviolet);
    top: 1rem;
    position: relative;
}


.round{
    width: 138px;
    height: 138px;
    border-radius: 50%;
}

.button{
    position: relative;
    padding: 10px 15px;
    background: white;
    color: seagreen;
    top: 10rem;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 1px 2px 4px black;
    transition: 0.1s ease;
}

.button:active{
    box-shadow: 1px 2px 4px silver;
}

.container .box .person, .tag_name{
    position: relative;
    top: 2rem;
    margin: 4px;
}

.info{
    margin-bottom: 0.5rem;
    color: #fff;
    position: relative;
    top: 3rem;
}

.text{
    width: 300px;
    text-align: center;
    font-size: 17px;
    position: relative;
    top: 4rem;
}

.line{
    margin: 0 auto;
    height: 1px;
    width: 280px;
    background: #fff;
    border-radius: 12px;
    position: relative;
    top: 6.5rem;
    display: block;
}
}


